environment.inside.engineRoom.temperature
[{"id":"5da0d7ce.a5709","type":"inject","z":"9c53d07d.c1c4b","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"1","x":125,"y":48,"wires":[["be057dca.82af78"]]},{"id":"eb5456fe.7f62e8","type":"signalk-send-pathvalue","z":"9c53d07d.c1c4b","name":"","source":"","x":425,"y":48,"wires":[]},{"id":"2ad6a49b.a97ad4","type":"debug","z":"9c53d07d.c1c4b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":465,"y":108,"wires":[]},{"id":"be057dca.82af78","type":"rpi-ds18b20","z":"9c53d07d.c1c4b","topic":"051693ea56ff","array":false,"name":"","x":125,"y":108,"wires":[["5cb7c717.cbbb6"]]},{"id":"5cb7c717.cbbb6","type":"function","z":"9c53d07d.c1c4b","name":"Set values","func":"if(msg.payload === \"\"){                                 // Defect or no sensor connected => 0 Celsius //\n    msg.payload = 273.15;\n} else {\n    msg.payload = msg.payload + 273.15;                 // Convert from Celsius to Kelvin // \n}\nmsg.topic = \"environment.inside.engineRoom.temperature\";// SignalK path //\n\nreturn msg;","outputs":1,"noerr":0,"x":285,"y":108,"wires":[["eb5456fe.7f62e8","2ad6a49b.a97ad4"]]}]
